* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

span {
    color: red;
}

.about-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-content p {
    text-align: center;
    width: 100%;
    max-width: 800px;
    word-spacing: 0.2em;
    line-height: 1.2em;
    margin-top: 15px;
    margin-bottom: 50px;
}

.chooseus-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEECEC;
    height: 70vh;
}

.chooseus-headings {
    text-align: center;
    margin: 20px;
}

.chooseus-headings p {
    width: 100%;
    max-width: 800px;
    word-spacing: 0.2em;
    line-height: 1.2em;
    margin-top: 20px;
    font-size: larger;
}

.icons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.icons-item {
    display: flex;
    align-items: center;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    padding: 50px;

}

.icons-item i {
    margin-right: 10px;
}

.icon-details {
    flex: 1;
    background-color: white;
    padding: 10px;
    width: fit-content;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    background-color: #F9D9CD;
    width: 45vw;
    height: 65vh;
    border-radius: 25px;
    box-shadow: 5px 10px 8px 10px #888888;
}

.cta-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.cta-details h3 {
    font-size: 1.4em;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.cta-details p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-top: 0;
    padding: 15px;
}

.apt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #17a0cb;
    border: none;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: white;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}