*{
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.home{
    font-weight: 700;
    color: #e1a256;
}
.intro{
    width: 40%;
    margin-top: 10%;
    margin-left: 10%;
    text-align: center;
}
.entrance svg{
    margin-bottom: 0;
}
.info{
    text-align: center;
    background-image: linear-gradient(
        to bottom,
        #e1a256  0%,
        #e1a256 50%,
        #fdfcfc 50%,
        #fdfcfc  100%
    );  
}




