*{
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

    .home{
        font-weight: 700;
        color: #e1a256;
    }

/* header {
    width: 100%;
   background-color: #ffffff;
   height: 60px;
   position: fixed;
   display: flex;
   justify-content: space-between;
   z-index: 1;
}

.logo img{
    height: 60px;
    width: 60px;
    padding-left: 30px;
}

nav {
    background-color: #fdfcfc;
    height: 60px;
    margin-right: 5%;
}

nav ul {
    list-style: none;
    padding: 20px;
}

nav li {
    display: inline-block;
    padding-top: 8px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
    position: relative;
    z-index: 1;
    transition: 0.3s ease;
}
.home{
    font-weight: 700;
    color: #e1a256;
}
nav li a:hover,
nav li a.active{
    color: #088178;
}
nav li a.active::after,
nav li a:hover::after{
    content: "";
    width: 40%;
    height: 3px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
    border-radius: 2px;
}

.header-line {
    width: 100%; 
    height: 2px; 
    background-color: #000000; 
    margin-top: 42px;
  } */

  .container {
   width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

main {
   height: 500px;
    background-image:linear-gradient(rgba(236, 229, 229, 0.479), rgba(217, 217, 217, 0.425)),url("images/Hero-background.jpg");
    position: center;
    background-size:100%;
    max-width: 100%;
    margin-top: 5px;
}

.hero-section{
    padding-top: 100px;
    padding-left: 120px;
}

.hero-section h1{
    font-size: 3em;
}

.sup {
    vertical-align: super;
    font-size: 40%;
}

.cont-button{
    margin-top: 120px;
    background-color: rgb(93, 72, 4);
    width: 10%;
    height: 40px;
    position: relative;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}

.sub-button{
    text-decoration: none;
    width: 90px;
    border-width: 0px;
    color: #fdfcfc;
}

.head-event{
    display: flex;
    width: 100%;
    position: relative;
}

.head-event a{
    text-decoration: none;
    position: absolute;
    top: 0px;
    right: 75px;
}

.events h2{
    padding-left: 70px;
}

.panel{
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

.panel-section{
    background-color: #fdfcfc;
    box-sizing: inherit;
    box-shadow: 5px 5px 2px rgba(128, 128, 128, 0.438);
    border-radius: 0px 0px 10px 10px;
    border-style: outset;
    border-width: 2px;
}


iframe{
    height: 200px;
    width: 325px;
}

.description{
    height: 200px;
    width: 325px;
    padding-bottom: 0px;
}

.description p{
    padding-left: 10px;
    font-size: 15px;
}

.panel-section a{
    padding-left: 10px;
    text-decoration: none;
}

.head-container{
    display: flex;
    width: 100%;
    position: relative;
    padding-bottom: 50px;
}

.head-container h2{
    padding-left: 70px;
}

.head-container a{
    position: absolute;
    top: 0px;
    right: 75px;
}


.blog-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    background-image: linear-gradient(
        to bottom,
        #fdfcfc 0%,
        #fdfcfc 50%,
        #e1a256 50%,
        #e1a256  100%
    );
}

.blog{
    width: 315px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    box-shadow: 3px 3px 2px rgba(128, 128, 128, 0.438);
}

.blog img{
    width: 100%;
    height: auto;
}

.blog-content{
    padding: 16px;
}

.blog-content h3{
    font-size: 20px;
    margin-bottom: 8px;
}

.blog-content p{
    color: #0a0a0a;
    font-size: 15px;
    line-height: 1.3;
}

.blog-content .btn{
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: rgb(52, 42, 239);
    margin-top: 16px;

}

.testimonial{
    height: 800px;
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        #e1a256 0%,
        #e1a256 50%,
        #fdfcfc 50%,
        #fdfcfc  100%
    );
}

.headings{
    display: block;
    padding-top: 120px;
    position: relative;
}

.headings h3{
    padding-left: 120px;
    font-size: 15px;
}

.headings span{
    color: red;
}

.headings h1{
   text-align: center;
}

.heading-line{
    width: 70px;
    height: 5px;
    background-color: red;
    border-radius: 10px;
    margin: auto;
}

.testimonial-sections{
   width: 80%;
   height: 400px;
   margin: auto;
   display: flex;
   justify-content: space-evenly;
}

.one-section{
   padding-top: 30px;
   text-align: center;
}

.one-section img{
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.client-info h3{
    color: #f4b466;
}

.client-info p{
    font-size: small;
    padding: 10px;
}

/* footer {
    width: 100%;
    bottom: 0;
    margin-top: 0;
    background:linear-gradient(to right, #088178, #f4b466);
    background: #EF9C66;
    color: #000000;
    padding: 100px 0 30px;
    font-size: 18px;
    line-height:20px;
    align-items: baseline;
 }
 
 
 .row{
     width: 80%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     align-items: flex-start;
     justify-content: space-between;
 }
 
 
 .logo{
    height: 6rem;
     width: 6rem;
     margin-bottom: 30px;
 }
 
 .col h3{
     width: fit-content;
     margin-bottom: 40px;
     position: relative;
 
 }
 
 .col:nth-child(2), .col:nth-child(3){
     flex-basis: 15%;
 }
 
 footer ul li{
     list-style: none;
     margin-bottom: 12px;
 
 }
 
 footer ul li a{
     text-decoration: none;
     color:#ffffff;
 }
 
 
 
 .col p{
  padding-bottom: 30px ;
  color: #fff;
  cursor: pointer;
 }
 
 #footer-email{
   
     width: 250px;
     height: 40px;
     border-radius:4px ;
     outline: none;
     border: none;
     padding-left: 0.5rem;
     font-size: 1rem;
     margin-bottom: 1rem;
 }
 
 #footer-email::placeholder{
     color: #b1b1b1;
 }
 
 #footer-email-btn{
     width: 100px;
     height: 40px;
     border-radius: 4px;
     background-color: #f94230;
     outline: none;
     border: none;
     color: #fff;
     font-size: 1rem;
 }
 
 #footer-email-btn:hover{
     cursor: pointer;
     background-color: #088178;
     transition: all 0.4s ease;
 }
 
 .social-icons .bi{
     padding-top: 20px;
    width: 30px;
     height: 30px;
     text-align: center;
     margin-right: 15px;
     cursor: pointer;
     display: inline-block;
     color: #fff;
 }
 
 hr{
     width: 90%;
     border: 0;
     border-bottom: 1px solid #ccc;
     margin: 20px auto;
    
 }
 
 .copyright{
     text-align: center;
     font-size: 16px;
 }
 
 .underline{
     width: 100%;
     height: 5px;
     background: #d1cece;
     border-radius: 3px;
     position: absolute;
     top: 25px;
     left:0;
 } */