*{
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
	  min-height: 100vh;
    background-image: url('images/Hero-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
	  font-size: 1.2rem;
	  display: flex;
	  justify-content: center;
	  align-items: center;
    opacity: 0.9;
	  padding: 10%;
}

.container{
    display: flex;
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
    width: 60%;
    height: 70%;
    border-radius: 4%;
    background-color: rgb(255, 255, 255);
}

.cont01{
  background-color: rgb(255, 255, 255);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius:  4%  0  0 4%;
}

.cont01 img{
    padding-top: 30%;
    padding-bottom: 5%;
}

.cont02{
  background-color: rgb(255, 255, 255);
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 0 4% 4% 0;
}
.innercont{
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 90%;
  height: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.innercont h4{
  color: white;
  padding-top: 10%;
}
.innercont ul{
  align-self: center;
  width: 60%;
  list-style: none;
  color: white;
  font-size: small;
  padding: 20%;
}
.innercont li{
  padding: 3%;
}
.buttons{
  justify-content: space-around;
}
.buttons button{
   height: 30px;
   width: 60px;
   border-radius: 20px;
   border-style: none;
}
.buttons a{
  text-decoration: none;
}